<section class="alle-ondernemers" id="alle-ondernemers">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h1>De Sharebiz ondernemers</h1>
			</div>
		</div>
		<div class="row">	
			<div class="col-6 col-sm-4 col-lg-3">
				<a href="http://www.ensemble.nl" target="blank">
					<div class="logobox">
						<div class="overlay"></div>
						<div class="logo-padding">
							<img src="images/logo/ensemble.png" alt="ensemble"/>
						</div>
						<p class="companyintro">&quot;Software ontwikkeling en consultancy op maat&quot;</p>
					</div>
				</a>
			</div>
			<div class="col-6 col-sm-4 col-lg-3">
				<a href="http://www.amii-designbureau.nl" target="blank">
					<div class="logobox">
						<div class="overlay"></div>
						<div class="logo-padding">
							<img src="images/logo/amii.png" alt="amii"/>
						</div>
						<p class="companyintro">&quot;Professioneel webdesign voor het kleinbedrijf&quot;</p>
					</div>
				</a>
			</div>
			<div class="col-6 col-sm-4 col-lg-3">
				<a href="http://www.makelaarscentrum.nl" target="blank">
					<div class="logobox">
						<div class="logo-padding">
							<img src="images/logo/makelaarscentrum.png" alt="makelaarscentrum"/>
						</div>
						<p class="companyintro">&quot;De makelaar met passie, de makelaar die werkt&quot;</p>
					</div>
				</a>
			</div>
			<div class="col-6 col-sm-4 col-lg-3">
				<a href="http://www.secuchauffeurs.nl" target="blank">
					<div class="logobox">
						<div class="logo-padding">
							<img src="images/logo/secu.png" alt="Secu Chauffeurs"/>
						</div>
						<p class="companyintro">&quot;Altijd op tijd door hoge kwaliteit&quot;</p>
					</div>
				</a>
			</div>

			<div class="col-6 col-sm-4 col-lg-3">
				<a href="http://www.avvh.nl" target="blank">
					<div class="logobox">
						<div class="logo-padding">
							<img src="images/logo/avvh.png" alt="AVVH"/>
						</div>
						<p class="companyintro">&quot;Een schone keuken is een veilige werkomgeving&quot;</p>
					</div>
				</a>
			</div>
			
			<div class="col-6 col-sm-4 col-lg-3">
				<a href="http://www.x10c.com" target="blank">
					<div class="logobox">
						<div class="logo-padding">
							<img src="images/logo/x10c.png" alt="x10c"/>
						</div>
						<p class="companyintro">&quot;Professionele fotografie en vormgeving&quot;</p>
					</div>
				</a>
			</div>
			
			<div class="col-6 col-sm-4 col-lg-3">
				<a href="http://www.bbit.nl" target="blank">
					<div class="logobox">
						<div class="logo-padding">
							<img src="images/logo/bbit.png" alt="bbit"/>
						</div>
						<p class="companyintro">&quot;Systeembeheer, internet, voip, ontwikkeling&quot;</p>
					</div>
				</a>
			</div>
			
			<div class="col-6 col-sm-4 col-lg-3">
				<a href="http://www.demkbtaxateur.nl" target="blank">
					<div class="logobox">
						<div class="logo-padding">
							<img src="images/logo/mkb.png" alt="de mkb taxateur"/>
						</div>
						<p class="companyintro">&quot;De bedrijfstaxateur voor het MKB&quot;</p>
					</div>
				</a>
			</div>

			<div class="col-6 col-sm-4 col-lg-3">
				<a href="" target="blank">
					<div class="logobox">
						<div class="logo-padding">
							<img src="images/logo/Dutch-security.png" alt="Dutch Security"/>
						</div>
						<p class="companyintro">&quot;Dutch security&quot;</p>
					</div>
				</a>
			</div>
			
			<div class="col-6 col-sm-4 col-lg-3">
				<div class="logobox">
					<div class="logo-padding">
						<img src="images/logo/tpt.png" alt="tpt"/>
					</div>
					<p class="companyintro">&quot;Techical part trading&quot;</p>
				</div>
				
			</div>
			
			<div class="col-6 col-sm-4 col-lg-3">
				<a href="http://www.otaweb.nl" target="blank">
					<div class="logobox">
						<div class="logo-padding">
							<img src="images/logo/ouwerkerk.png" alt="Ouwerkerk Tekst &amp; Advies"/>
						</div>
						<p class="companyintro">&quot;Voor teksten die iedereen wil lezen&quot;</p>
					</div>
				</a>
			</div>
			
			<div class="col-6 col-sm-4 col-lg-3">
				<a href="http://www.newsupply.nl" target="blank">
					<div class="logobox">
						<div class="logo-padding">
							<img src="images/logo/newsupply.png" alt="newsupply"/>
						</div>
						<p class="companyintro">&quot;Advies, ICT oplossingen en inkoop&quot;</p>
					</div>
				</a>
			</div>

			<div class="col-6 col-sm-4 col-lg-3">
				<a href="http://www.100-groep.nl/" target="blank">
					<div class="logobox">
						<div class="logo-padding">
							<img src="images/logo/100.png" alt="100% Groep"/>
						</div>
						<p class="companyintro">&quot;Salaris Administratie is ons product&quot;</p>
					</div>
				</a>	
			</div>
			
			<div class="col-6 col-sm-4 col-lg-3">
				<a href="http://www.ardito.nl/" target="blank">
					<div class="logobox">
						<div class="logo-padding">
							<img src="images/logo/ardito.png" alt="Ardito"/>
						</div>
						<p class="companyintro">&quot;Energie in beeld&quot;</p>
					</div>
				</a>
			</div>
			
			<div class="col-6 col-sm-4 col-lg-3">
				<a href="http://www.vaalfma.nl" target="blank">
					<div class="logobox">
						<div class="logo-padding">
							<img src="images/logo/logo-bert.png" alt="De Vaal FMA"/>
						</div>
						<p class="companyintro">&quot;Uw partner voor economische vraagstukken&quot;</p>
					</div>
				</a>
			</div>
			
			<div class="col-6 col-sm-4 col-lg-3">
				<a href="http://www.mijnzakelijknetwerk.nl" target="blank">
					<div class="logobox">
						<div class="logo-padding">
							<img src="images/logo/mznetwerk.png" alt="Mijn Zakelijk netwerk"/>
						</div>
						<p class="companyintro">&quot;Het zakelijk netwerk van Zoetermeer&quot;</p>
					</div>
				</a>
			</div>

						
			<div class="col-6 col-sm-4 col-lg-3">
				<a href="http://www.leergeld.nl/" target="blank">
					<div class="logobox">
						<div class="logo-padding">
							<img src="images/logo/leergeld.png" alt="Stichting Leergeld"/>
						</div>
						<p class="companyintro">&quot;Nu meedoen is straks meetellen&quot;</p>
					</div>
				</a>
			</div>
			
			<div class="col-6 col-sm-4 col-lg-3">
				<a href="http://www.pic-a-point.nl/" target="blank">
					<div class="logobox">
						<div class="logo-padding">
							<img src="images/logo/picapoint.png" alt="Pica Point"/>
						</div>
						<p class="companyintro">&quot;Het drukwerkadviesbureau, kwaliteit en betaalbaarheid&quot;</p>
					</div>
				</a>
			</div>
			
			<div class="col-6 col-sm-4 col-lg-3">
				<a href="http://schekmanvankeppel.nl/" target="blank">
					<div class="logobox">
						<div class="logo-padding">
							<img src="images/logo/schekman.png" alt="Schekman & Van Keppel"/>
						</div>
						<p class="companyintro">&quot;Weten waar je aan toe bent&quot;</p>
					</div>
				</a>
			</div>
			
			<div class="col-6 col-sm-4 col-lg-3">
				<a href="http://www.moore-academy.nl" target="blank">
					<div class="logobox">
						<div class="logo-padding">
							<img src="images/logo/davidrakers.jpg" alt="davidrakers.com"/>
						</div>
						<p class="companyintro">&quot;Launching winners into their desitiny&quot;</p>
					</div>
				</a>
			</div>
	
			<div class="col-6 col-sm-4 col-lg-3">
				<a href="http://www.new-xperience.nl/" target="blank">
					<div class="logobox">
						<div class="logo-padding">
							<img src="images/logo/NewX.jpg" alt="Newx"/>
						</div>
						<p class="companyintro">&quot;Xperience, innovation, development&quot;</p>
					</div>
				</a>
			</div>
			
			<div class="col-6 col-sm-4 col-lg-3">
				<a href="http://www.ronjenner.nl/" target="blank">
					<div class="logobox">
						<div class="logo-padding">
							<img src="images/logo/ronjenner.png" alt="Ron Jenner"/>
						</div>
						<p class="companyintro">&quot;Photo & Graphic Design&quot;</p>
					</div>
				</a>
			</div>
			
			<div class="col-6 col-sm-4 col-lg-3">
				<a href="http://www.2cre8.eu/" target="blank">
					<div class="logobox">
						<div class="logo-padding">
							<img src="images/logo/2cre8.png" alt="2cre8"/>
						</div>
						<p class="companyintro">&quot;Het water voor uw bedrijf&quot;</p>
					</div>
				</a>
			</div>
			
			<div class="col-6 col-sm-4 col-lg-3">
				<a href="http://www.sharebiz.nl" target="blank">
					<div class="logobox">
						<div class="logo-padding">
							<img src="images/logo/okbv.png" alt="OKBV"/>
						</div>
						<p class="companyintro">&quot;Hulp nodig bij het bepalen van een richting? OKBV helpt.&quot;</p>
					</div>
				</a>
			</div>

			<div class="col-6 col-sm-4 col-lg-3">
				<a href="http://www.minadv.nl/" target="blank">
					<div class="logobox">
						<div class="logo-padding">
							<img src="images/logo/minimaal.png" alt="Minimaal"/>
						</div>
						<p class="companyintro">&quot;Persoonlijke en betrokken dienstverlening&quot;</p>
					</div>
				</a>
			</div>
			
			<div class="col-6 col-sm-4 col-lg-3">
				<a href="http://www.max4u.nl/" target="blank">
					<div class="logobox">
						<div class="logo-padding">
							<img src="images/logo/max4u.png" alt="Max4U"/>
						</div>
						<p class="companyintro">&quot;Eerlijk besparen voor de ZZP-er&quot;</p>
					</div>
				</a>
			</div>

			<div class="col-6 col-sm-4 col-lg-3">
				<a href="http://www.vmdh.nl/" target="blank">
					<div class="logobox">
						<div class="logo-padding">
							<img src="images/logo/munnen.png" alt="BestAdvice"/>
						</div>
						<p class="companyintro">&quot;Pensioen, regel het nu goed voor later&quot;</p>
					</div>
				</a>
			</div>
			<div class="col-6 col-sm-4 col-lg-3">
				<a href="http://www.advocatenkantoor-franken.nl/" target="blank">
					<div class="logobox">
						<div class="logo-padding">
							<img src="images/logo/advocatenkantoor-franken.jpg" alt="advocatenkantoor Franken"/>
						</div>
						<p class="companyintro">&quot;Een eerlijk en zakelijk advies in begrijpelijke taal&quot;</p>
					</div>
				</a>
			</div>
			<div class="col-6 col-sm-4 col-lg-3">
				<a href="http://www.inspiredtraining.nl/" target="blank">
					<div class="logobox">
						<div class="logo-padding">
							<img src="images/logo/inspiredtraining.png" alt="Inspired training"/>
						</div>
						<p class="companyintro">&quot;Learning is Living&quot;</p>
					</div>
				</a>
			</div>
			<div class="col-6 col-sm-4 col-lg-3">
				<a href="http://www.cocoon.nl/" target="blank">
					<div class="logobox">
						<div class="logo-padding">
							<img src="images/logo/cocoon.jpg" alt="Cocoon Risk management"/>
						</div>
						<p class="companyintro">&quot;Bescherming moet natuurlijk zijn&quot;</p>
					</div>
				</a>
			</div>
			<div class="col-6 col-sm-4 col-lg-3">
				<a href="http://www.facilitymps.com/" target="blank">
					<div class="logobox">
						<div class="logo-padding">
							<img src="images/logo/mpsfacility.png" alt="Facility MPS"/>
						</div>
						<p class="companyintro">&quot;Facility Management, Projecten en Support.&quot;</p>
					</div>
				</a>
			</div>
			<div class="col-6 col-sm-4 col-lg-3">
				<a href="http://www.valebo.eu/" target="blank">
					<div class="logobox">
						<div class="logo-padding">
							<img src="images/logo/valebo.jpg" alt="Facility MPS"/>
						</div>
						<p class="companyintro">&quot;Human resources development&quot;</p>
					</div>
				</a>
			</div>

			
		</div>
	</div>
</section>